<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Pokémon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      [(ngModel)]="pokemonName"
      placeholder="Digite o nome do Pokémon"
      (keyup.enter)="loadPokemon()"
    ></ion-input>
    <ion-button (click)="loadPokemon()">Buscar</ion-button>
  </ion-item>

  <ion-card *ngIf="pokemon">
    <ion-card-header>
      <ion-card-title style="font-weight: bold; font-size: 22px"
        >{{ pokemon.name | titlecase }}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <img
        [src]="pokemon.sprites?.front_default"
        [alt]="pokemon.name"
        style="width: 250px; height: 250px; display: block; margin: 0 auto"
      />
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="error">
    <ion-card-content style="color: red"> {{ error }} </ion-card-content>
  </ion-card>

  <ion-card *ngIf="loading">
    <ion-card-content> Carregando... </ion-card-content>
  </ion-card>
</ion-content>
